{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bonjour {{ app.user.userName }} <br> Attention vous etes sur la page de : </h1>

    <h2>Modification d'un post</h2>



    {{ form(postForm) }}

{% endblock %}

